<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Status</title>
    <link rel="stylesheet" type="text/css" media="all"
        href="../static/style.css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div th:replace="generic :: navbar">Menu placeholder, see generic.html for definition</div>
    <div id="main">
    <h1>Status overview</h1>
    <h2 th:text="#{main.serverStatus}">Server status</h2>
    <p th:text="${serverStatus}">not available</p>
    <h2 th:text="#{main.backEndStatus}">Back end status</h2>
    <p th:text="${backEndStatus}">not available</p>
  <form action="/status" method="POST">
    <input type="hidden" name="moveToRight" value="10">
    <input type="hidden" name="moveToBottom" value="10">
    <button type="submit">Move mouse on server</button>

  </form>
  </div>
    <div th:replace="generic :: footer">Footer placeholder, see generic.html for definition</div>
  </body>

</html>